@model WebAppMvcClientLocation.Models.Location
@{
}
<div class="CreateClientPage">
    <h1>Create</h1>
    <h3>Location</h3>
    <form asp-action="Create" class="CreateClientPage">
        <label asp-for="LocationId">LocationId</label>
        <input asp-for="LocationId" name="clientId" />
        <label asp-for="City">City</label>
        <input asp-for="City" name="locId" />
        <label asp-for="PostCode">Postcode</label>
        <input asp-for="PostCode" name="clientName" />
        <input type="submit" value="Create" class="btn btn-primary" />
    </form>

    <a asp-action="Index">Back to List</a>
</div>
