html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.startPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10%;
    
}
.navBar{
    border:solid;
    border-color:dodgerblue;
    padding:5%;
   
   
}
.text-center {
    border: solid;
    border-color: dodgerblue;
    padding: 5%;
    min-width: 80%;
}
.CreateClientPage {
    display: flex;
    flex-direction: column;
    
}
