html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.startPage{
    display:flex;

}
.navBar{
    border:solid;
    border-color:dodgerblue;
    padding:2%
}
.text-center {
    border: solid;
    border-color: dodgerblue;
    padding: 5%
}
.CreateDiv{
    display:flex;
    flex-direction:column;
    max-width:20%

}