@{
    ViewData["Title"] = "Home Page";
    var clientTeller = ViewBag.CLient;
    var LocatieTeller = ViewBag.Locatie;

}
<div>
   
    <div >
        <h1 class="display-4">The database has been started in Program.cs</h1>
        <h4>Client Records: @clientTeller </h4>
        <br />
        <h4>Locatie records: @LocatieTeller</h4>
    </div>
</div>

