@model WebAppMvcClientLocation.Models.Client
@{
}
<div class="CreateClientPage" >
    <h1>Create</h1>
    <h3>Client</h3>
    <form asp-action="Create" class="CreateClientPage">
        <label asp-for="ClientId" >ClientId</label>
        <input asp-for="ClientId" name="clientId"/>
        <label asp-for="LocatieId" >LocationId</label>
        <input asp-for="LocatieId" name="locId" />
        <label asp-for="ClientName" >ClientName</label>
        <input asp-for="ClientName" name="clientName" />
        <input type="submit" value="Create" class="btn btn-primary"  />
    </form>
    
    <a asp-action="Index">Back to List</a>
</div>