@model WebAppMvcClientLocation.Models.Client
@{
}
<div class="CreateDiv" >
    <h1>Create</h1>
    <h3>Client</h3>
    <form method="post">
        <label >ClientId</label>
        <input name="clientId"/>
        <label >LocationId</label>
        <input name="LocId" />
        <label >ClientName</label>
        <input name="clieName" />
    </form>
    <button class="">Create</button>
    <a asp-action="Index">Back to List</a>
</div>